.contribution-container {
  margin-top: 1.5rem;
  position: relative;
}

.responsive-contribution-content {
  width: 100%;
  flex: 1 1 auto;
}

.year-list-container {
  width: 100%;
  padding-left: 1.875rem;
}

.contribution-grid-item {
  position: relative;
}

.grid-item-graph {
  display: flex;
  text-align: center;
  padding-top: 0.25rem;
  height: 100%;
  overflow: hidden;
  flex-flow: column;
  align-items: end;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.contribution-grid-item-container {
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  border: 1px solid var(--color-pinned-item-border);
}

.contribution-content {
  display: flex;
}

.grid-item-footer {
  width: 100%;
  font-size: 0.65rem;
  color: #57606a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.footer-item-1 {
  float: left;
}

.footer-item-2 {
  float: right;
}

.graph-item-svg {
  overflow: hidden;
  display: inline-block;
}

.contribution-calendar-day {
  shape-rendering: geometricPrecision;
  outline: 1px solid rgba(27, 31, 35, 0.06);
  outline-offset: -1px;
}

.contribution-calendar-day[data-level="0"] {
  fill: #ebedf0;
}

.contribution-calendar-day[data-level="1"] {
  fill: #9be9a8;
}

.contribution-calendar-day[data-level="2"] {
  fill: #40c463;
}

.contribution-calendar-day[data-level="3"] {
  fill: #30a14e;
}

.contribution-calendar-day[data-level="4"] {
  fill: #216e39;
}

rect {
  shape-rendering: crispEdges;
}

svg.js-calendar-graph-svg {
  overflow: hidden;
  min-width: 772px;
  width: 100%;
}

.year-list-block {
  display: none;
}

.contribution-calendar-label {
  font-size: 0.54rem;
  color: var(--color-header-bg);
}

.year-list-item {
  position: static;
  top: 4.325rem;
  background-color: #fff;
}

.year-listing {
  padding: 0.45rem 0.85rem;
  position: relative;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  border-radius: 0.4rem;
  margin-bottom: 0.47rem;
  font-size: 0.65rem;
}

.year-listing:first-child {
  color: #fff;
  background-color: var(--color-focus-border);
}

@media screen and (min-width: 768px) {
  .grid-item-graph {
    margin-right: 0.4rem;
    margin-left: 0.4rem;
  }

  .grid-item-footer {
    padding-right: 2.6rem;
    padding-left: 2.6rem;
  }
}

@media screen and (min-width: 1012px) {
  .responsive-contribution-contet {
    width: 83.333%;
  }

  .year-list-container {
    width: 16.666%;
  }

  .year-list-block {
    display: block !important;
  }
}

@media screen and (min-width: 1280px) {
  .grid-item-graph {
    align-items: center !important;
  }
}
